In [1]:
#lambda,map,reduce,filter

<h1>Lambda</h1>

In [2]:
#Lambda is a anonyms function or an expression

In [3]:
def sq(x):
    return x**2

In [4]:
sq(4)

16

In [5]:
sq(9)

81

In [6]:
#function_name = lambda args : return sequence

In [7]:
sq1 = lambda x : x**2

In [8]:
sq1(4)

16

In [9]:
sq1(8)

64

In [10]:
def sq(x,y):
    return x**2+y**2

In [11]:
sq(4,5)

41

In [12]:
sq1=lambda x,y:x**2+y**2

In [14]:
sq1(4,5)

41

In [16]:
def even(num):
    if num%2==0:
        return True
    else:
        return False

In [17]:
even(45)

False

In [18]:
even(78)

True

In [19]:
even1 = lambda num : True if num%2==0 else False

In [20]:
even1(45)

False

In [21]:
even1(78)

True

In [22]:
def even_odd(num):
    if num%2==0:
        print('Even')
    else:
        print('Odd')

In [23]:
even_odd(45)

Odd

In [24]:
even_odd(78)

Even

In [28]:
even_odd1=lambda num : 'Even' if num%2==0 else 'Odd'

In [29]:
even_odd1(45)

'Odd'

In [30]:
even_odd1(88)

'Even'

In [31]:
def greater(x,y):
    if x>y:
        return x
    else:
        return y

In [32]:
greater(4,8)

8

In [33]:
greater(9,4)

9

In [34]:
greater1 = lambda x,y : x if x>y else y

In [35]:
greater1(5,7)

7

In [36]:
greater1(9,3)

9

In [38]:
hello = lambda x : 'Number is divisible by 5' if x%5==0 else "number is not divisible by 5"

In [39]:
x=int(input())
hello(x)

5

'Number is divisible by 5'

In [40]:
hello(int(input()))

78

'number is not divisible by 5'

In [41]:
#Fibonacci

In [42]:
#0,1,1,2,3,5,8,13,21,34

In [43]:
greater1 = lambda x,y,z : x if x>y and x>z else y if y>z else z

In [44]:
greater1(3,4,5)

5

In [45]:
greater1(1,6,2)

6

In [46]:
greater1(9,8,7)

9

In [47]:
def prime(num,start):
    if num%start==0:
        return False
    elif start==num//2+1:
        return True
    else:
        prime(num,start+1)

In [55]:
prime1=lambda num,start=2 :True if num==2 else False if num%start==0 else True if start==num//2+1 else prime1(num,start+1)

In [50]:
prime1(45)

False

In [51]:
prime1(67)

True

In [52]:
prime1(121)

False

In [53]:
prime1(127)

True

In [56]:
prime1(2)

True

In [57]:
#Pallindrome --->with lambda

In [58]:
l=list()
for i in range(10):
    l.append(int(input()))

1
5
6
8
4
9
2
6
85
46

In [59]:
l

[1, 5, 6, 8, 4, 9, 2, 6, 85, 46]