In [3]:
n=int(input())
l=[input().split() for i in range(n)]

3
Rajat Sharma 26 M
Samyak Jain 22 M
Nidhi Sharma 24 F

In [6]:
l

[['Rajat', 'Sharma', '26', 'M'],
 ['Samyak', 'Jain', '22', 'M'],
 ['Nidhi', 'Sharma', '24', 'F']]

In [39]:
@decorate
def person(l1):
    if l1[3]=='M':
        return 'Mr.'+' '+l1[0]+" "+l1[1]
    else:
        return 'Ms.'+' '+l1[0]+' '+l1[1]

In [33]:
x=list(map(person,l))

In [34]:
x

['Mr. Rajat Sharma', 'Mr. Samyak Jain', 'Ms. Nidhi Sharma']

In [27]:
def decorate(fun_name):
    def dec(args):
        return map(fun_name,sorted(args,key=lambda x: x[2]))
    return dec

In [38]:
print(*decorate(person)(l),sep='\n')

Mr. Samyak Jain
Ms. Nidhi Sharma
Mr. Rajat Sharma

In [42]:
print(*person(l),sep='\n')

Mr. Samyak Jain
Ms. Nidhi Sharma
Mr. Rajat Sharma

In [43]:
from functools import reduce

In [44]:
def sq(x,y):
    return x+y

In [46]:
x=list(map(sq,[1,2,3,4]))#map(fun_name,sequence)

TypeError: sq() missing 1 required positional argument: 'y'

In [47]:
reduce(sq,[1,2,3,4])

10

In [48]:
def sq1(x,y):
    return x**2+y**2

In [49]:
reduce(sq1,[1,2,3,4])

1172

In [50]:
1**2+2**2

5

In [51]:
5**2+3**2

34

In [52]:
34**2+4**2

1172

In [58]:
def sq(x,y,z):
    return x+y+z

In [59]:
x=list(map(sq,[1,2,3,4],[1,2,3,4]))

TypeError: sq() missing 1 required positional argument: 'z'

In [55]:
x

[2, 4, 6, 8]

In [63]:
reduce(sq,[1,2,3,4])

TypeError: sq() missing 1 required positional argument: 'z'

In [65]:
def sq(x):
    return x**3

In [66]:
list(map(sq,[1,2,3,4]))

[1, 8, 27, 64]

In [67]:
def sq(x,y):
    return x**2+y**2

In [68]:
list(map(sq,[1,2,3,4],[1,2,3,4]))

[2, 8, 18, 32]

In [69]:
reduce(sq,[1,2,3,4])

1172

In [70]:
def div(x,y):
    return x/y

In [73]:
reduce(div,[4,3,2,1])

0.6666666666666666