In [1]:
s1='hello world'

In [2]:
s2='hello world to python'

In [3]:
l1=[1,2,3,4,5,5,6,]

In [4]:
max(l1)

6

In [5]:

min(l1)

1

In [8]:
mul=1
for i in l1:
    mul=mul*i
print(mul)

3600

In [9]:
1*2*3*4*5*5*6

3600

In [10]:
d={'Name':'Samyak','course':'DS'}

In [11]:
d.keys()

dict_keys(['Name', 'course'])

In [12]:
d.values()

dict_values(['Samyak', 'DS'])

In [13]:
d.items()

dict_items([('Name', 'Samyak'), ('course', 'DS')])

In [14]:
for i in d.keys():
    print(i)

Name
course

In [15]:
for i in d:
    print(i)

Name
course

In [16]:
for i in d:
    print(d[i])

Samyak
DS

In [17]:
s='hello world'

In [18]:
s.rsplit()

['hello', 'world']

In [19]:
s.lsplit()

AttributeError: 'str' object has no attribute 'lsplit'

In [20]:
s='hello world'

In [21]:
s.split('w')

['hello ', 'orld']

In [22]:
s.rsplit('w')

['hello ', 'orld']

In [23]:
s='hello world to python'

In [24]:
s.rsplit('o')

['hell', ' w', 'rld t', ' pyth', 'n']

In [25]:
s.split('o')

['hell', ' w', 'rld t', ' pyth', 'n']

In [26]:
s.rsplit('o',2)

['hello world t', ' pyth', 'n']

In [27]:
s.split('o',2)

['hell', ' w', 'rld to python']

In [28]:
d

{'Name': 'Samyak', 'course': 'DS'}

In [29]:
d.keys()

dict_keys(['Name', 'course'])

In [30]:
d.values()

dict_values(['Samyak', 'DS'])

In [33]:
for key,value in d.items():
    print(f'{key}={value}')

Name=Samyak
course=DS

In [34]:
for i,j in zip(d.keys(),d.values()):
    print(f'{i}--->{j}')

Name--->Samyak
course--->DS

In [35]:
x=5
print('you got 5 marks')

you got 5 marks

In [36]:
x=5
print('you got x marks')

you got x marks

In [37]:
x=5
print(f'you got {x} marks')

you got 5 marks

In [38]:
print('you got {} marks'.format(x))

you got 5 marks

In [39]:
d['age']=22

In [40]:
d

{'Name': 'Samyak', 'course': 'DS', 'age': 22}

In [42]:
id(d)

164191864368

In [43]:
d.pop('age')

22

In [44]:
d

{'Name': 'Samyak', 'course': 'DS'}

In [45]:
id(d)

164191864368

In [46]:
d.popitem()

('course', 'DS')

In [47]:
d['course']='Ds'

In [48]:
id(d)

164191864368

In [49]:
d1=d

In [51]:
d2=d.copy()

In [52]:
id(d1)

164191864368

In [53]:
id(d)

164191864368

In [54]:
id(d2)

164210018344

In [55]:
d.clear()

In [56]:
d

{}

In [57]:
d1

{}

In [58]:
d2

{'Name': 'Samyak', 'course': 'Ds'}

In [59]:
l=[i for i in range(1,10)]

In [60]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [61]:
5<6

True

In [62]:
6>5

True

In [64]:
6!=6

False

In [65]:
l=[i%2==0 for i in range(1,21)]

In [67]:
print(*l)

False True False True False True False True False True False True False True False True False True False True

In [68]:
l=[i for i in range(1,21) if i%2==0]

In [69]:
l

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [70]:
all([True,True,True,True])

True

In [71]:
all([True,True,True,True,False])

False

In [72]:
any([False,False,False])

False

In [73]:
any([False,False,False,True])

True

In [74]:
d

{}

In [75]:
print(dir(dict))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [76]:
l=[]
l=list((1,2,3,4))

In [79]:
d=dict((['Name','Samyak']))

ValueError: dictionary update sequence element #0 has length 4; 2 is required

In [80]:
d=dict(('name','samyak'))

ValueError: dictionary update sequence element #0 has length 4; 2 is required

In [89]:
d=dict(('AB','CD','12',{1:2,3:4}))

In [90]:
d

{'A': 'B', 'C': 'D', '1': '2', 1: 3}

In [91]:
d=dict(('AB','CD','12',{1:2,3:4},('Name','Samyak')))

In [92]:
d

{'A': 'B', 'C': 'D', '1': '2', 1: 3, 'Name': 'Samyak'}

In [93]:
d=dict(('AB','CD','12',{1:2,3:4},('Name','Samyak'),['Course','DS']))

In [94]:
d

{'A': 'B', 'C': 'D', '1': '2', 1: 3, 'Name': 'Samyak', 'Course': 'DS'}

In [95]:
len(d)

6

In [96]:
#d.setdefault()
#d.update()

In [97]:
d.setdefault('Name','Sachin')

'Samyak'

In [98]:
d.setdefault('Age',21)

21

In [99]:
d

{'A': 'B',
 'C': 'D',
 '1': '2',
 1: 3,
 'Name': 'Samyak',
 'Course': 'DS',
 'Age': 21}

In [100]:
d.setdefault('Age',24)

21

In [102]:
d.update(Age=24)

In [103]:
d

{'A': 'B',
 'C': 'D',
 '1': '2',
 1: 3,
 'Name': 'Samyak',
 'Course': 'DS',
 'Age': 24}

In [104]:
d.update(color='fair')

In [105]:
d

{'A': 'B',
 'C': 'D',
 '1': '2',
 1: 3,
 'Name': 'Samyak',
 'Course': 'DS',
 'Age': 24,
 'color': 'fair'}

In [106]:
d.fromkeys('AB')

{'A': None, 'B': None}

In [107]:
d.fromkeys('AB',1)

{'A': 1, 'B': 1}

In [108]:
d.fromkeys('AB','CD')

{'A': 'CD', 'B': 'CD'}

In [109]:
d.fromkeys([1,2,3,4],[5,6,7,8])

{1: [5, 6, 7, 8], 2: [5, 6, 7, 8], 3: [5, 6, 7, 8], 4: [5, 6, 7, 8]}

In [110]:
d.fromkeys([1,2,3,4],*[5,6,7,8])

TypeError: fromkeys expected at most 2 arguments, got 5

In [111]:
d={1001:'sam'}

In [112]:
d={'1002':"yak"}

In [113]:
d={(1,2,3):'hello'}

In [114]:
d

{(1, 2, 3): 'hello'}

In [115]:
d={[1,2,3]:'hello'}

TypeError: unhashable type: 'list'

In [116]:
d={{'A':'B'}:'hello'}

TypeError: unhashable type: 'dict'

In [117]:
d={{'A'}:'A'}

TypeError: unhashable type: 'set'

In [118]:
d={'A':'B'}

In [119]:
d['A']

'B'

In [120]:
d.keys()

dict_keys(['A'])

In [121]:
d={'A':'B','A':'C'}

In [122]:
d['A']

'C'

In [123]:
d.keys()

dict_keys(['A'])

In [124]:
d={'Name':'Samyak','course':'DS'}

In [126]:
for i in d.values():
    print(d[i])

KeyError: 'Samyak'

In [125]:
d['1']

KeyError: '1'

In [128]:
d1={}
d1['A']='B'
d1['B']='C'
d1['C']='D'
d1['D']='E'
d1['E']='B'

In [130]:
for i in d1.values():
    print(d1[i])

C
D
E
B
C

In [131]:
d={'A':'B'}

In [132]:
d['A']

'B'

In [133]:
d.keys()

dict_keys(['A'])

In [134]:
key=input()
if key in d:
    print('Avail')

A
Avail

In [135]:
l=[1,2,3,5,]

In [136]:
if 2 in l:
    print('yes')
else:
    print('no')

yes

In [137]:
d=['A','B','C']

In [138]:
if 'A' in d:
    print('yes')
else:
    print('No')

yes

In [139]:
key=input()
if key in d:
    print('Avail')
else:
    print('fail')

D
fail

In [140]:
d={'AB':1}

In [141]:
d['A']

KeyError: 'A'

In [142]:
d['AB']

1

In [143]:
d["a"]

KeyError: 'a'

In [144]:
d={}

In [145]:
d

{}

In [146]:
d={'A'}

In [147]:
type(d)

set

In [148]:
d={'A':}

SyntaxError: invalid syntax (<ipython-input-148-fa73476b1acb>, line 1)

In [149]:
d={'A':''}

In [150]:
d

{'A': ''}

In [151]:
d['A']

''

In [161]:
d={1001:['A','B','C','D']}

In [153]:
d[1001]

['A', 'B', 'C', 'D']

In [154]:
for i in d:
    print(type(d[i][-1]))

<class 'str'>

In [157]:
for i in d:
    print(type(d[i][-1]))

<class 'str'>

In [158]:
d={1.1:'A'}

In [159]:
d[1.1]

'A'

In [162]:
d[1001]

['A', 'B', 'C', 'D']

In [163]:
d={1001:(1,2,3,4)}

In [164]:
d[1001]

(1, 2, 3, 4)

In [165]:
l=[]
for i in d:
    l.extend(d[i][-1])
print(l)

TypeError: 'int' object is not iterable

In [166]:
l=[]
for i in d:
    l.extend(d[i])
print(l)

[1, 2, 3, 4]

In [167]:
d={1001:{},1002:{},1003:{}}

In [168]:
d[1001]

{}

In [169]:
d[1002]

{}

In [170]:
d[1003]

{}

In [177]:
l=[]
for i in d:
    l.append(d[i])
    print(any([d[i]]))

False
False
False

In [173]:
l

[{}, {}, {}]

In [175]:
l=[]
for i in d:
    l.append(d[i])
    print(any([i]))

True
True
True

In [176]:
l=[]
for i in d:
    l.append(d[i])
print(any([l]))

True

In [178]:
d

{1001: {}, 1002: {}, 1003: {}}

In [179]:
d[1001]['Name']

KeyError: 'Name'

In [180]:
d[1001]['Name']='Sachin'

In [181]:
l=[]
for i in d:
    l.append(d[i])
    print(any([d[i]]))

True
False
False

In [182]:
d

{1001: {'Name': 'Sachin'}, 1002: {}, 1003: {}}

In [183]:
A={}

In [184]:
A['Name']='Sachin'

In [185]:
A

{'Name': 'Sachin'}

In [187]:
B=d[1002]

In [188]:
B

{}

In [189]:
B['Name']='samyak'

In [191]:
B

{'Name': 'samyak'}

In [192]:
d[1002]

{'Name': 'samyak'}

In [193]:
d[1003]

{}

In [194]:
d[1003]['Name']='rajat'

In [195]:
d[1003]['Name']

'rajat'

In [196]:
d

{1001: {'Name': 'Sachin'}, 1002: {'Name': 'samyak'}, 1003: {'Name': 'rajat'}}

In [197]:
for i in d:
    print(i)

1001
1002
1003

In [198]:
for i in d.values():
    print(i)

{'Name': 'Sachin'}
{'Name': 'samyak'}
{'Name': 'rajat'}

In [199]:
for i,j in d.items():
    print(i,j)

1001 {'Name': 'Sachin'}
1002 {'Name': 'samyak'}
1003 {'Name': 'rajat'}

In [200]:
for key,value in zip(d.keys(),d.values()):
    print(f'{key}-->{value}')

1001-->{'Name': 'Sachin'}
1002-->{'Name': 'samyak'}
1003-->{'Name': 'rajat'}

In [201]:
d1={1001:[1,2,3,4,4]}

In [202]:
d[1001]

{'Name': 'Sachin'}

In [203]:
d.append()

AttributeError: 'dict' object has no attribute 'append'

In [204]:
d1[1001]

[1, 2, 3, 4, 4]

In [205]:
d1[1001].append(5)

In [206]:
d1

{1001: [1, 2, 3, 4, 4, 5]}

In [207]:
a={1001:{'Name':'Sachin'}}

In [208]:
a.append()

AttributeError: 'dict' object has no attribute 'append'

In [209]:
a[1001]

{'Name': 'Sachin'}

In [210]:
B=a[1001]

In [212]:
B

{'Name': 'Sachin'}

In [213]:
B['Name']='Rajat'

In [214]:
B

{'Name': 'Rajat'}

In [216]:
a[1001]['Name']

'Rajat'

In [217]:
l=[1,2,3,[1,2,3,['hey','hello']]]

In [218]:
l[0]

1

In [219]:
l[3]

[1, 2, 3, ['hey', 'hello']]

In [220]:
l[3][-1]

['hey', 'hello']

In [221]:
l[3][-1][-1]

'hello'

In [222]:
print(type(l[3][-1][-1][-1]))

<class 'str'>

In [223]:
d

{1001: {'Name': 'Sachin'}, 1002: {'Name': 'samyak'}, 1003: {'Name': 'rajat'}}

In [224]:
d[1001]['Name']

'Sachin'

In [225]:
d[1001]['Name']='Anshul'

In [226]:
d

{1001: {'Name': 'Anshul'}, 1002: {'Name': 'samyak'}, 1003: {'Name': 'rajat'}}

In [227]:
d={1001:{'Name':'Samyak','Bal':10000,'Pwd':'redhat@123'},
   1002:{'Name':'Sachin','Bal':20000,'Pwd':'redhat'},
   1003:{'Name':'Rajat','Bal':30000,'Pwd':'rajat'}
  }

In [228]:
for i in d:
    print(i)

1001
1002
1003

In [229]:
for i in d.keys():
    print(d[i])

{'Name': 'Samyak', 'Bal': 10000, 'Pwd': 'redhat@123'}
{'Name': 'Sachin', 'Bal': 20000, 'Pwd': 'redhat'}
{'Name': 'Rajat', 'Bal': 30000, 'Pwd': 'rajat'}

In [230]:
for i in d.items():
    print(d)

{1001: {'Name': 'Samyak', 'Bal': 10000, 'Pwd': 'redhat@123'}, 1002: {'Name': 'Sachin', 'Bal': 20000, 'Pwd': 'redhat'}, 1003: {'Name': 'Rajat', 'Bal': 30000, 'Pwd': 'rajat'}}
{1001: {'Name': 'Samyak', 'Bal': 10000, 'Pwd': 'redhat@123'}, 1002: {'Name': 'Sachin', 'Bal': 20000, 'Pwd': 'redhat'}, 1003: {'Name': 'Rajat', 'Bal': 30000, 'Pwd': 'rajat'}}
{1001: {'Name': 'Samyak', 'Bal': 10000, 'Pwd': 'redhat@123'}, 1002: {'Name': 'Sachin', 'Bal': 20000, 'Pwd': 'redhat'}, 1003: {'Name': 'Rajat', 'Bal': 30000, 'Pwd': 'rajat'}}

In [231]:
#1.Bank Application
#2.IRCTC System
#3.Super Market
#4.Hospital Mamagement
#5.Class Data

In [232]:
d={'A':[i for i in range(1,10)]}

In [233]:
d

{'A': [1, 2, 3, 4, 5, 6, 7, 8, 9]}

In [237]:
d={(1,2,3):[i for i in range(1,10)]}

In [238]:
d

{(1, 2, 3): [1, 2, 3, 4, 5, 6, 7, 8, 9]}

In [239]:
d[1001]['Pwd']

KeyError: 1001