In [1]:
#Let's wait for others................we'll start soon

In [2]:
a=10

In [3]:
id(a)

8768042341472

In [4]:
a=500

In [5]:
id(a)

731276817904

In [6]:
a=100

In [7]:
id(a)

8768042344352

In [8]:
a=50

In [9]:
id(a)

8768042342752

In [10]:
a=500

In [11]:
b=500

In [12]:
id(a)

731276818288

In [13]:
id(b)

731276816912

In [14]:
a=b

In [15]:
id(a)

731276816912

In [16]:
id(b)

731276816912

In [17]:
a==b

True

In [18]:
a=300

In [22]:
b=300

In [23]:
a==b

True

In [24]:
a=260

In [25]:
a=2
b=2
b==a
id(a)==id(b)

True

In [26]:
a=265
b=265
b==a
id(a)==id(b)

False

In [27]:
a=2

In [28]:
hash(2)

2

In [29]:
b=2

In [30]:
hash(b)

2

In [33]:
a=500
hash(a)

500

In [34]:
b=500
hash(b)

500

In [35]:
a=130

In [36]:
a=-2

In [37]:
b=-2

In [38]:
id(a)

8768042341088

In [39]:
id(b)

8768042341088

In [40]:
a=10
b=10

In [42]:
id(a)

8768042341472

In [43]:
id(b)

8768042341472

In [61]:
a=500

In [62]:
b=500

In [63]:
id(a)

731263713424

In [64]:
id(b)

731263713552

In [65]:
x=10

In [66]:
id(x)

8768042341472

In [67]:
x=240

In [68]:
id(x)

8768042348832

In [69]:
y=240

In [70]:
id(y)

8768042348832

In [71]:
x=250
y=250

In [72]:
id(x)

8768042349152

In [73]:
id(y)

8768042349152

In [80]:
x=-6
y=-6

In [81]:
id(x)

731263715024

In [82]:
id(y)

731263715088

In [83]:
x=256
y=256

In [84]:
id(x)

8768042349344

In [85]:
id(y)

8768042349344

In [86]:
x=257
y=257

In [87]:
id(x)

731276820016

In [88]:
id(y)

731263715120

In [89]:
#Subscription---> if we can slicing the data

In [90]:
l=[1,2,3,4,5,6]

In [91]:
l[0]

1

In [92]:
l[1]

2

In [93]:
l[2]

3

In [94]:
x=12324

In [95]:
x[0]

TypeError: 'int' object is not subscriptable

In [96]:
s={1,2,3,4,5,6,6,7}

In [97]:
id(s)

731276921096

In [98]:
print(*s)

1 2 3 4 5 6 7

In [99]:
s[0]

TypeError: 'set' object is not subscriptable

Dictionary--->
               (i) Collection of Key and value pairs
              (ii) Mutable Data Type
             (iii) Ordered Data Type
             (iV) Iterables and Subs

In [100]:
d={'Name':'Sachin'}

In [101]:
d[0]

KeyError: 0

In [102]:
d['Name']

'Sachin'

In [103]:
id(d)

731263643080

In [104]:
hash(d)

TypeError: unhashable type: 'dict'

In [105]:
d['Name']

'Sachin'

In [106]:
d['Name']='Samyak'

In [107]:
d

{'Name': 'Samyak'}

In [108]:
id(d)

731263643080

In [109]:
d={'Name':'Sachin','Course':'DS'}

In [110]:
d['Name']

'Sachin'

In [111]:
d['Course']

'DS'

In [112]:
d['Age']

KeyError: 'Age'

In [113]:
d.get('Name')

'Sachin'

In [114]:
d.get('Course')

'DS'

In [115]:
d.get('Age')

In [116]:
x=d.get('Age')

In [117]:
print(x)

None

In [118]:
if d.get('Age'):
    print(1)
else:
    print(2)

2

In [119]:
d.get('Age','Not Avialable')

'Not Avialable'

In [120]:
d.get('Name','Not Avialable')

'Sachin'

In [121]:
if d.get('Age','not available'):
    print("Available")
else:
    print('Not available')

Available

In [123]:
d['Age']

KeyError: 'Age'

In [124]:
d['Age']=22

In [125]:
d['Age']

22

In [126]:
id(d)

731263642648

In [127]:
d.get('Age')

22

In [128]:
d

{'Name': 'Sachin', 'Course': 'DS', 'Age': 22}

In [129]:
d1={}

In [131]:
d1['a']='A'
d1['b']='B'
d1['c']='C'
d1['d']='D'

In [132]:
d1

{'a': 'A', 'b': 'B', 'c': 'C', 'd': 'D'}

In [133]:
d

{'Name': 'Sachin',
 'Course': 'DS',
 'Age': 22,
 'a': 'A',
 'b': 'B',
 'c': 'C',
 'd': 'D'}

In [137]:
d.popitem()

('a', 'A')

In [138]:
d

{'Name': 'Sachin', 'Course': 'DS', 'Age': 22}

In [139]:
d1={1:['Samyak','Sachin','Rajat']}

In [140]:
d1[1]

['Samyak', 'Sachin', 'Rajat']

In [145]:
d={'Name':['Samyak','Sachin']}

In [146]:
d

{'Name': ['Samyak', 'Sachin']}

In [147]:
d={'Name':(1,2,3,4,4)}

In [148]:
d['Name']

(1, 2, 3, 4, 4)

In [149]:
d=1,2,8,4,5,

In [150]:
type(d)

tuple

In [152]:
d

(1, 2, 8, 4, 5)

In [153]:
print(dir(dict))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [154]:
d={}

In [155]:
type(d)

dict

In [156]:
d={'Name':'Sachin','Course':'DS','Age':24}

In [157]:
id(d)

731281220520

In [158]:
type(d)

dict

In [159]:
print(d)

{'Name': 'Sachin', 'Course': 'DS', 'Age': 24}

In [160]:
d.keys()

dict_keys(['Name', 'Course', 'Age'])

In [161]:
d.values()

dict_values(['Sachin', 'DS', 24])

In [162]:
d.items()

dict_items([('Name', 'Sachin'), ('Course', 'DS'), ('Age', 24)])

In [163]:
l1=[1,2,3,4,5]
l2=[6,7,8,9,0]

In [165]:
x=zip(l1,l2)

In [166]:
x

In [167]:
print(*x)

(1, 6) (2, 7) (3, 8) (4, 9) (5, 0)

In [168]:
l1=[1,2,3,7,4,5,6,6]

In [172]:
l2=[2,3,4,5,3,4,8,9]

In [173]:
print(*zip(l1,l2))

(1, 2) (2, 3) (3, 4) (7, 5) (4, 3) (5, 4) (6, 8) (6, 9)

In [174]:
for i in l1:
    print(i)

1
2
3
7
4
5
6
6

In [175]:
for i in l2:
    print(i)

2
3
4
5
3
4
8
9

In [177]:
for i,j in zip(l2,l1):
    print(f'{i}--->{j}')

2--->1
3--->2
4--->3
5--->7
3--->4
4--->5
8--->6
9--->6

In [187]:
l=[1,2,3,4]
print(type(l))
print(id(l))#1234
print(l)
l=l.pop(3)
print(l)
print(id(l))
print(type(l))

<class 'list'>
731281203720
[1, 2, 3, 4]
4
8768042341280
<class 'int'>

In [178]:
l1=[1,2,3,4,5,]

In [179]:
l1.append(6)

In [180]:
l1

[1, 2, 3, 4, 5, 6]

In [181]:
l1=l1.append(7)

In [182]:
l1

In [183]:
print(l1)

None

In [189]:
l=[1,2,3,4,'hey','hello',[1,2,'bye']]
print(type(l))
print(id(l))#1234
print(l)
l=l.append(l.pop(-1))
print(l)
print(id(l))
print(type(l))

<class 'list'>
731280656968
[1, 2, 3, 4, 'hey', 'hello', [1, 2, 'bye']]
None
8768041864416
<class 'NoneType'>

In [190]:
d

{'Name': 'Sachin', 'Course': 'DS', 'Age': 24}

In [191]:
d.keys()

dict_keys(['Name', 'Course', 'Age'])

In [192]:
d.values()

dict_values(['Sachin', 'DS', 24])

In [193]:
d.items()

dict_items([('Name', 'Sachin'), ('Course', 'DS'), ('Age', 24)])

In [194]:
for i in d:
    print(i)

Name
Course
Age

In [195]:
for i in d.keys():
    print(i)

Name
Course
Age

In [196]:
for i in d.values():
    print(i)

Sachin
DS
24

In [197]:
for i in d.items():
    print(i)

('Name', 'Sachin')
('Course', 'DS')
('Age', 24)

In [198]:
for key,value in d.items():
    print(f'{key}--> {value}')

Name--> Sachin
Course--> DS
Age--> 24

In [199]:
for key,value in zip(d.keys(),d.values()):
    print(f'{key}---> {value}')

Name---> Sachin
Course---> DS
Age---> 24

In [200]:
d['Name']

'Sachin'

In [201]:
for i in d:
    print(d[i])

Sachin
DS
24

In [202]:
print(d['Name'])
print(d['Course'])
print(d['Age'])

Sachin
DS
24

In [203]:
l1=[i for i in range(2,21,2)]
l2=[i for i in range(5,51,5)]
l3=[i for i in range(10,101,10)]

In [204]:
for a,b,c in zip(l1,l2,l3):
    print(a,b,c,sep='\t',end='\n')

2	5	10
4	10	20
6	15	30
8	20	40
10	25	50
12	30	60
14	35	70
16	40	80
18	45	90
20	50	100

In [205]:
d.keys()

dict_keys(['Name', 'Course', 'Age'])

In [206]:
d.values()

dict_values(['Sachin', 'DS', 24])

In [207]:
d.items()

dict_items([('Name', 'Sachin'), ('Course', 'DS'), ('Age', 24)])

In [208]:
for i in d.keys():
    print(i)

Name
Course
Age

In [209]:
for i in d.values():
    print(i)

Sachin
DS
24

In [211]:
for i,j in d.items():
    print(i,j)

Name Sachin
Course DS
Age 24

In [217]:
for i in d.values():
    print(i)
    print(d)

Sachin
{'Name': 'Sachin', 'Course': 'DS', 'Age': 24}
DS
{'Name': 'Sachin', 'Course': 'DS', 'Age': 24}
24
{'Name': 'Sachin', 'Course': 'DS', 'Age': 24}

In [213]:
print(d)
print(d)
print(d)

{'Name': 'Sachin', 'Course': 'DS', 'Age': 24}
{'Name': 'Sachin', 'Course': 'DS', 'Age': 24}
{'Name': 'Sachin', 'Course': 'DS', 'Age': 24}

In [214]:
for i in range(3):
    print(d)

{'Name': 'Sachin', 'Course': 'DS', 'Age': 24}
{'Name': 'Sachin', 'Course': 'DS', 'Age': 24}
{'Name': 'Sachin', 'Course': 'DS', 'Age': 24}

In [216]:
for i in range(len(d.values())):
    print(i)
    print(d)

0
{'Name': 'Sachin', 'Course': 'DS', 'Age': 24}
1
{'Name': 'Sachin', 'Course': 'DS', 'Age': 24}
2
{'Name': 'Sachin', 'Course': 'DS', 'Age': 24}

In [218]:
len(d)

3

In [219]:
d

{'Name': 'Sachin', 'Course': 'DS', 'Age': 24}

In [220]:
d.keys()

dict_keys(['Name', 'Course', 'Age'])

In [221]:
d.values()

dict_values(['Sachin', 'DS', 24])

In [222]:
d.items()

dict_items([('Name', 'Sachin'), ('Course', 'DS'), ('Age', 24)])

In [224]:
for i in d.keys():
    print(i)
    print('hello')

Name
hello
Course
hello
Age
hello

In [226]:
for i in d.values():
    print(i)
    print('hello')

Sachin
hello
DS
hello
24
hello

In [230]:
for i in d.values():
    print(i)
    print(d)

Sachin
{'Name': 'Sachin', 'Course': 'DS', 'Age': 24}
DS
{'Name': 'Sachin', 'Course': 'DS', 'Age': 24}
24
{'Name': 'Sachin', 'Course': 'DS', 'Age': 24}

In [228]:
print(d)

{'Name': 'Sachin', 'Course': 'DS', 'Age': 24}

In [231]:
for i in d.values():
    print(d)

{'Name': 'Sachin', 'Course': 'DS', 'Age': 24}
{'Name': 'Sachin', 'Course': 'DS', 'Age': 24}
{'Name': 'Sachin', 'Course': 'DS', 'Age': 24}