List==> It is the collection of elements of similar and different data type.
        Mutable Data Type
        Iterable Data Type
        Ordered Data Type
        Subs Data Type

In [1]:
l=[1,2,3,4,5,5,6,7,7,8,]

In [2]:
type(l)

list

In [3]:
print(type(l))

<class 'list'>

In [4]:
repr(5)

'5'

In [5]:
print('This is \n hello world')

This is
 hello world

In [6]:
repr('This is \n hello world')

"'This is \\n hello world'"

In [7]:
print(repr('This is \n hello world'))

'This is \n hello world'

In [8]:
id(l)

1027587167048

In [9]:
l

[1, 2, 3, 4, 5, 5, 6, 7, 7, 8]

In [35]:
l=[1,'hey','hello',1.3,['bye',1,4.6]]

In [11]:
type(l)

list

In [13]:
id(l)

1027574701768

In [14]:
print(*l)

1 hey hello 1.3 ['bye', 1, 4.6]

In [16]:
for i in l:
    print(i)

1
hey
hello
1.3
['bye', 1, 4.6]

In [17]:
l[0]

1

In [18]:
l[1]

'hey'

In [19]:
l[-1]

['bye', 1, 4.6]

In [20]:
l[-1][1]

1

In [21]:
print(dir(list))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [22]:
l

[1, 'hey', 'hello', 1.3, ['bye', 1, 4.6]]

In [23]:
id(l)

1027574701768

In [24]:
l.append(5)

In [25]:
l

[1, 'hey', 'hello', 1.3, ['bye', 1, 4.6], 5]

In [26]:
l.append([1,2,3,4,5])

In [27]:
l

[1, 'hey', 'hello', 1.3, ['bye', 1, 4.6], 5, [1, 2, 3, 4, 5]]

In [28]:
l[-1]

[1, 2, 3, 4, 5]

In [29]:
id(l)

1027574701768

In [30]:
l

[1, 'hey', 'hello', 1.3, ['bye', 1, 4.6], 5, [1, 2, 3, 4, 5]]

In [31]:
l.pop()

[1, 2, 3, 4, 5]

In [32]:
l.pop()

5

In [36]:
x=l.append(5)

In [37]:
l

[1, 'hey', 'hello', 1.3, ['bye', 1, 4.6], 5]

In [38]:
x

In [39]:
print(x)

None

In [40]:
l.append('hey')

In [41]:
l.pop()

'hey'

In [42]:
l.pop()

5

In [48]:
l.pop()

IndexError: pop from empty list

In [49]:
l

[]

In [50]:
l=['C','C++','Java','Python','Html','CSS','JS']

In [51]:
l.insert(3,'DataScience')

In [52]:
l

['C', 'C++', 'Java', 'DataScience', 'Python', 'Html', 'CSS', 'JS']

In [53]:
l.insert(-1,'PHP')

In [54]:
l

['C', 'C++', 'Java', 'DataScience', 'Python', 'Html', 'CSS', 'PHP', 'JS']

In [55]:
l.insert(0,'SQl')

In [56]:
l

['SQl',
 'C',
 'C++',
 'Java',
 'DataScience',
 'Python',
 'Html',
 'CSS',
 'PHP',
 'JS']

In [57]:
print(*l)

SQl C C++ Java DataScience Python Html CSS PHP JS

In [58]:
for i in l:
    print(i)

SQl
C
C++
Java
DataScience
Python
Html
CSS
PHP
JS

In [59]:
l.pop(5)

'Python'

In [60]:
l.pop(-1)

'JS'

In [61]:
l.pop(10)

IndexError: pop index out of range

In [62]:
l

['SQl', 'C', 'C++', 'Java', 'DataScience', 'Html', 'CSS', 'PHP']

In [63]:
l.remove('PHPO')

ValueError: list.remove(x): x not in list

In [64]:
l.remove('PHP')

In [65]:
l

['SQl', 'C', 'C++', 'Java', 'DataScience', 'Html', 'CSS']

In [66]:
l.remove('HTML')

ValueError: list.remove(x): x not in list

In [67]:
l.append('python')

In [68]:
l

['SQl', 'C', 'C++', 'Java', 'DataScience', 'Html', 'CSS', 'python']

In [69]:
l.extend('python')

In [70]:
l

['SQl',
 'C',
 'C++',
 'Java',
 'DataScience',
 'Html',
 'CSS',
 'python',
 'p',
 'y',
 't',
 'h',
 'o',
 'n']

In [71]:
l.extend([1,2,3,4,'hey','hello'])

In [72]:
l.append([1,2,3,4,55,7,56,6,])

In [73]:
l

['SQl',
 'C',
 'C++',
 'Java',
 'DataScience',
 'Html',
 'CSS',
 'python',
 'p',
 'y',
 't',
 'h',
 'o',
 'n',
 1,
 2,
 3,
 4,
 'hey',
 'hello',
 [1, 2, 3, 4, 55, 7, 56, 6]]

In [74]:
l.pop()

[1, 2, 3, 4, 55, 7, 56, 6]

In [75]:
l.extend(1234)

TypeError: 'int' object is not iterable

In [76]:
x=12332

In [77]:
for i in x:
    print(i)

TypeError: 'int' object is not iterable

In [78]:
x[0]

TypeError: 'int' object is not subscriptable

In [79]:
x=[1,2,3,6,4,5,]

In [80]:
print(*x)

1 2 3 6 4 5

In [82]:
l.clear()

In [83]:
l

[]

In [84]:
l=[1,2,3,4,5,6,7]

In [85]:
l.index(5)

4

In [87]:
l=[1,2,3,3,3,4,7,5,6,6]

In [88]:
l.count(3)

3

In [90]:
l=['hey','hello','bye','JJ','Js']

In [91]:
l.index('JJ')

3

In [92]:
l.rindex('JJ')

AttributeError: 'list' object has no attribute 'rindex'

In [93]:
l.reverse()

In [94]:
l

['Js', 'JJ', 'bye', 'hello', 'hey']

In [95]:
l=[1,2,'hey','hello']

In [96]:
l.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [97]:
l=[2,4,5,2,3,9,8,6,7]

In [98]:
l.sort()

In [99]:
l

[2, 2, 3, 4, 5, 6, 7, 8, 9]

In [100]:
l.reverse()

In [101]:
l

[9, 8, 7, 6, 5, 4, 3, 2, 2]

In [103]:
l.sort()

In [105]:
l.sort(reverse=True)

In [106]:
l

[9, 8, 7, 6, 5, 4, 3, 2, 2]

In [107]:
l=['sachin','yadvendra','ayush','anshul','samyak','rajat']

In [108]:
l.sort()

In [109]:
l

['anshul', 'ayush', 'rajat', 'sachin', 'samyak', 'yadvendra']

In [110]:
ord('a')

97

In [111]:
ord('z')

122

In [112]:
l=['1','2','3','hey','hello','bye','hiii']

In [113]:
l.sort()

In [114]:
l

['1', '2', '3', 'bye', 'hello', 'hey', 'hiii']

In [115]:
ord('1')

49

In [116]:
ord('2')

50

In [117]:
ord('3')

51

In [118]:
ord('A')

65

In [119]:
ord('Z')

90

In [120]:
import random
#random.py
#def add():
#    #return a+b

In [121]:
#from module_name import add
#import module_name

In [122]:
#add()
#module_name.add()

In [124]:
import random
from random import randint

In [131]:
randint(1,100)

70

In [132]:
l=[]
for i in range(20):
    l.append(i)

In [133]:
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [134]:
l=[]
for i in range(20):
    l.append(randint(30,60))

In [135]:
l

[57,
 37,
 42,
 40,
 31,
 48,
 32,
 44,
 58,
 47,
 36,
 43,
 40,
 33,
 53,
 50,
 44,
 33,
 45,
 44]

In [136]:
l=[randint(30,60)]

In [137]:
l

[60]

In [143]:
l=[randint(30,60) for i in range(20)] #List Comprehension

In [140]:
print(*l)

35 30 49 52 54 50 30 39 56 32 55 57 48 43 52 30 54 51 60 60

In [141]:
l.sort(reverse=True)

In [142]:
l

[60,
 60,
 57,
 56,
 55,
 54,
 54,
 52,
 52,
 51,
 50,
 49,
 48,
 43,
 39,
 35,
 32,
 30,
 30,
 30]

In [144]:
l=[60,
 60,
 57,
 56,
 55,
 54,
 54,
 52,
 52,
 51,
 50,
 49,
 48,
 43,
 39,
 35,
 32,
 30,
 30,
 30]

In [145]:
print(*l)

60 60 57 56 55 54 54 52 52 51 50 49 48 43 39 35 32 30 30 30

In [146]:
x=l.pop(0)
while True:
    if l.count(x)>1:
        l.remove(x)
    else:
        break

In [147]:
l

[60, 57, 56, 55, 54, 54, 52, 52, 51, 50, 49, 48, 43, 39, 35, 32, 30, 30, 30]

In [155]:
l=[randint(30,50) for i in range(30)]
print(l)

[37, 30, 42, 41, 38, 35, 39, 50, 49, 41, 32, 32, 38, 32, 43, 32, 31, 49, 34, 50, 32, 32, 37, 37, 46, 48, 36, 35, 38, 33]

In [156]:
l.sort(reverse=True)
x=l.pop(0)
while True:
    if l.count(x)>1:
        l.remove(x)
    else:
        break

In [157]:
l[1]

49

In [161]:
l=[randint(30,50) for i in range(30)]
print(l)
s=set(l)
print(s)
l=list(s)
l.sort()
print(l)
print(l[-2])

[50, 34, 34, 38, 38, 45, 42, 49, 31, 43, 44, 45, 32, 43, 47, 45, 30, 32, 46, 33, 39, 35, 33, 45, 47, 37, 50, 46, 32, 37]
{32, 33, 34, 35, 37, 38, 39, 42, 43, 44, 45, 46, 47, 49, 50, 30, 31}
[30, 31, 32, 33, 34, 35, 37, 38, 39, 42, 43, 44, 45, 46, 47, 49, 50]
49

In [162]:
l=list((1,2,3,4,4,5))

In [163]:
l

[1, 2, 3, 4, 4, 5]

In [164]:
l=list('python')

In [165]:
l

['p', 'y', 't', 'h', 'o', 'n']

In [166]:
l=[1,2,3,4,5]

In [167]:
str(l)

'[1, 2, 3, 4, 5]'

In [168]:
len(l)

5

In [169]:
l=[randint(30,50) for i in range(30)]

In [170]:
len(l)

30

In [171]:
max(l)

50

In [172]:
min(l)

31

In [173]:
avg=sum(l)/len(l)

In [174]:
print(avg)

41.46666666666667

In [175]:
round(avg,2)

41.47

In [176]:
print(dir(list))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [177]:
l=[1,2,3,4,5,6]

In [178]:
l1=l
l2=l.copy()

In [179]:
id(l)

1027593041288

In [180]:
id(l1)

1027593041288

In [181]:
id(l2)

1027593041352

In [182]:
l.append(9)

In [183]:
l

[1, 2, 3, 4, 5, 6, 9]

In [184]:
l1

[1, 2, 3, 4, 5, 6, 9]

In [185]:
l2

[1, 2, 3, 4, 5, 6]

In [186]:
l.clear()

In [187]:
l

[]

In [188]:
l1

[]

In [189]:
l2

[1, 2, 3, 4, 5, 6]

In [192]:
l=['heye','bye','hello',(1,2,3,3)]

In [191]:
l[-2][-2]

IndexError: list index out of range

In [194]:
l[-2][-2]

'l'

In [195]:
l1=[1,2,3,4,]

In [196]:
l2=[4,5,6,7]

In [197]:
l1+l2

[1, 2, 3, 4, 4, 5, 6, 7]

In [198]:
l1*5

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [199]:
l1*l2

TypeError: can't multiply sequence by non-int of type 'list'

In [200]:
l1@l2

TypeError: unsupported operand type(s) for @: 'list' and 'list'