In [1]:
4 & 9

0

In [ ]:
0100
1001
X
-------
0000
+
1101

*
1101

In [2]:
4 | 9

13

In [4]:
{1,2,3,4} & {4,5,6}

{4}

In [5]:
{1,2,3,} | {4,5,6,7,2}

{1, 2, 3, 4, 5, 6, 7}

In [6]:
4 ^ 9

13

In [7]:
10>>2

2

In [8]:
10<<2

40

In [9]:
#101000

In [10]:
bin(40)

'0b101000'

In [11]:
34<<2

136

In [12]:
14<<3

112

In [13]:
14>>3

1

In [14]:
bin(112)

'0b1110000'

In [15]:
1

1

In [16]:
x=15
y=12

In [17]:
x & y

12

In [18]:
x | y

15

In [19]:
345
l=[1,2,4,8,16,32,64,128,256,512,1024]

In [26]:
256+0+64+0+16+8+0+0+1

345

In [27]:
#101011001----->1+8+16+64+256

In [35]:
4^12

8

In [31]:
import pandas as pd
df=pd.read_csv('precedence.csv')

In [34]:
df.drop('Unnamed: 0',axis=1,inplace=True)

In [ ]:
0100
1100
______
1000

In [36]:
df

,Operator,Description
0,**,Exponentiation (raise to the power)
1,~ + -,"Complement, unary plus and minus (method names..."
2,* / % //,"Multiply, divide, modulo and floor division"
3,+ -,Addition and subtraction
4,>> <<,Right and left bitwise shift
5,&,Bitwise 'AND'td>
6,^ |,Bitwise exclusive `OR' and regular `OR'
7,<= < > >=,Comparison operators
8,<> == !=,Equality operators
9,= %= /= //= -= += *= **=,Assignment operators
10,is is not,Identity operators
11,in not in,Membership operators
12,not or and,Logical operators

In [37]:
bin(10-2)+bin(12^9)

'0b10000b101'

In [38]:
12^9

5

In [39]:
x=4/(3*(2-1))
print(x)

1.3333333333333333

In [40]:
a=16
b=15
x=a%b//a
print(x)

0

In [41]:
a=2**(3**2)
b=(2**3)**2
c=2**3**2
print(a,b,c,sep='\n')

512
64
512

In [43]:
x=2+9*((3*12)-8)/10
print(x)

27.2

In [44]:
x=24//6%3,24//4//2
print(x)
print(type(x))

(1, 3)
<class 'tuple'>

In [45]:
x=(1,3)
x=1,3

In [47]:
x=(5,)
type(x)

tuple

In [48]:
float(4+int(2.39)%2)

4.0

In [49]:
bin(567)

'0b1000110111'

In [50]:
x=[1,2,4,8,16,32,64,128,256,512,1024,2048,4096,8192]

In [51]:
2**2

4

In [52]:
4**.5

2.0

if ---->single if

if else----->else withh if

if else ladder----->if elif l=elif elif else

nested if else---->if else if else if else

In [54]:
x=int(input('Enter a  number'))
if x==5:
    print('This is Five')

Enter a  number7

In [56]:
x=int(input('Enter a  number'))
if x==5:
    print('This is Five')
else:
    print('This is ',x)

Enter a  number7
This is  7

In [60]:
x=int(input('Enter a number'))
if x%2==0:
    print('Divisibile by 2')
elif x%3==0:
    print('Divisibile by 3')
elif x%5==0:
    print('Divisibile by 5')
else:
    print('This number is not divisible by 30')

Enter a number23
This number is not divisible by 30

In [62]:
d={1001:{'Name':'Samyak','Bal':10000,'Pwd':'1234'}}

In [66]:
acc=int(input('Enter account Number'))
if acc==1001:
    pwd=input('Enter Password')
    if pwd==d[1001]['Pwd']:
        print(d[1001])
    else:
        print('Invalid Password')
else:
    print('Account not exist')

Enter account Number1001
Enter Password123456
Invalid Password

In [67]:
5 < 6

True

In [68]:
6>5

True